<!DOCTYPE html>
<html>
    <head>
            <title>About</title>
            <link rel="icon" href="/images/favicon.png">
            <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <p>This site was created for something useless. It uses data from darksky.net and mapbox.com</p>
     
        <img class="portrait" src="/images/sweets.jpg">
        
        </div>
        {{>footer}}
    </body>
  
</html>